---
import Badge from "./Badge.astro"
const {project,img, description,tech} = Astro.props
---

  <section class="project-card flex flex-col align-middle justify-center">
    <div class="author px-8 py-1 flex items-center justify-start">
        <img class="w-10 h-10 rounded-full" src="/src/assets/profile.jpg" alt="Autor" />
        <span class="text-xs ml-2">Desarrollado por: <span class="font-bold">Ivan Rodriguez</span></span>
    </div>
    <div class=" flex project-card__image w-[55%] md:w-full lg:w-full h-36 px-3 py-1 justify-center align-middle">
      <img class="object-cover w-full h-full rounded-lg" src={img} alt={project} />
    </div>
    <div class="project-card__content">
      <h2 class="text-2xl">{project}</h2>
      <p>{description}</p>
      <a href="#" target="_blank" rel="noopener noreferrer">View Project</a>
    </div>
    <footer class="flex flex-wrap gap-1 justify-end align-middle text-xs">
        {tech.map((item: string) => {
             return  <Badge badgeText={item} badgeColor="blue-400" />
        })}
    </footer>
  </section>
