---
import { icons } from "../data/icons";
import Technology from "./Technology.astro";
/* import { getUser } from "../services/GetUser.astro";

const { data } = await getUser(); */
import { dictionary } from "../data/dictionary";
const { defaultLanguage } = Astro.props;
---

<div
  class="h-[520px] mb-14 z-[1] items-start flex flex-col-reverse space-x-20 lg:flex-row md:flex-col md:items-center pt-0 lg:pt-10 w-full"
>
  <!-- <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 pt-10 pb-20">
    {
      icons.map((icon, index) => {
        return (
          <div
            class={`flex flex-col items-center group col-start-${icon.colStart} row-start-${icon.rowStart}`}
          >
            <span class="icon" set:html={icon.svgcolor} />
          </div>
        );
      })
    }
  </div> -->
  <!-- <div
    class="absolute mb-52 z-[1] flex lg:flex-row md:flex-col backdrop-blur-[5px] w-full"
  > -->
  
  <div
    class="flex flex-col justify-center items-start pl-20 lg:pl-24 h-fit-content"
  >
    <div class="animate-moveFromLeft delay-[5000ms] ease-in">
      <h1 class="text-2xl lg:text-4xl text-black/75 dark:text-white uppercase font-extrabold text-balance"
        >Ivan Rodriguez Rojas</h1
      >
    </div>
    <label
      class="capitalize text-2xl tracking-wider animate-moveFromLeft"
      ><span class="text-cyan-900 dark:text-cyan-300 font-extralight">&lbrace;</span>
       {dictionary[defaultLanguage]?.slogan}
      <span class="text-cyan-900 dark:text-cyan-300 font-extralight">&rbrace;</span></label
    >
     
    <p class="lg:indent-4 pt-6 w-fit flex-wrap animate-moveFromLeft text-pretty lg:text-xl md:text-lg">
      {dictionary[defaultLanguage]?.description}
    </p>

    <div class="pt-10 flex flex-auto justify-start items-center w-full">
      <div class="mr-3">
        <button
          id="butoncv"
          class="flex group justify-around items-center hover:scale-105 transition duration-500 uppercase w-[180px] h-12 text-base rounded-xl text-center bg-yellow-200 text-gray-800 font-semibold drop-shadow-[0_2px_5px_rgba(255,255,200,1)] animate-moveFromLeft hover:cursor-pointer"
        >
          {dictionary[defaultLanguage]?.download}
        </button>
      </div>
      <div>
        <a
          class="hover:scale-105 transition duration-500"
          href="/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas.pdf"
          download="CV_FrontEnd_Dev_IvanRodriguezRojas.pdf"
          ><button
            id="butoncv"
            class="flex group items-center justify-center hover:scale-105 transition duration-500 w-12 h-12 text-base rounded-xl text-center bg-yellow-200 text-gray-800 drop-shadow-[0_2px_5px_rgba(255,255,200,1)] animate-moveFromLeft hover:cursor-pointer"
          >
            <img
              class="group-hover:animate-bounce"
              src="/src/assets/download.svg"
              alt="Download"
            />
          </button>
        </a>
      </div>
    </div>

    <dialog
      id="dialogcv"
      class="overflow-hidden relative w-full h-full bg-gray-800 bg-opacity-70 backdrop-blur-md open:flex justify-center p-2"
    >
      <iframe
        class="w-[80%] h-full justify-center items-center"
        src="/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas.pdf"
        frameborder="0"></iframe>
      <span
        class="absolute right-2 top-2 text-white items-center justify-center"
        ><button class="border-2 rounded-full w-10 h-10 font-mono" id="closecv"
          >X</button
        ></span
      >
    </dialog>
  </div>
  <div
    class="hidden lg:inline-block
     justify-center items-start
    top-32 pr-52 hover:scale-105 transition duration-500 w-[700px]"
  >
    <!-- <img
          id="img-user"
          class="w-[210px] h-[200px] rounded-full animate-moveFromLeft"
          src={data?.results[0].picture?.large}
          alt={data?.results[0].name?.first || "Default User"}
        /> -->
    <img
    transition:name="img-user-ivan"
    transition:animate="fade"
      id="img-user"
      class="animate-moveFromLeft object-cover rounded-full w-auto"
      src="/src/assets/profile.png"
      alt="Tech"
    />
  </div>

  <!-- </div> -->
  <!-- <div class="h-32">
    <img
      class="w-[100vw] h-32 object-cover"
      src="/src/assets/intersecting-waves-scattered-divider.svg"
      alt="Tech"/>
  </div> -->
</div>
<script>
  const $butoncv = document.querySelector("#butoncv");
  const $dialogcv = document.querySelector("#dialogcv");
  const $closecv = document.querySelector("#closecv");

  $butoncv.addEventListener("click", () => {
    $dialogcv.showModal();
  });
  $closecv.addEventListener("click", () => {
    $dialogcv?.close();
  });
</script>
