---
import { icons } from "../data/icons";
import Technology from "./Technology.astro";
import Badge from "./Badge.astro";
import BlockCodeImg from "./BlockCodeImg.astro";
/* import { getUser } from "../services/GetUser.astro";
const { data } = await getUser(); */
import Image from "astro/components/Image.astro";
import { dictionary } from "../data/dictionary";
import LevelStars from "./LevelStars.astro";
const { defaultLanguage }: { defaultLanguage: "en" | "es" } = Astro.props;
---

<div
  class="h-[380px] lg:h-[500px] z-[1] items-start flex flex-col columns-2 space-x-20 pt-6 lg:pt-10 lg:flex-row md:flex-col md:items-center w-full"
>
  <div
    class="flex flex-1 flex-col columns-1 justify-center items-start px-4 lg:px-8 mt-10"
  >
    <div
      class="grid grid-cols-1 lg:grid-cols-8 items-center justify-center  lg:gap-1"
    >
      <div class="col-span-5 animate-moveFromLeft">
        <section
          class="ease-in flex flex-col gap-2 tracking-wider justify-center items-center w-[100%] lg:w-[90%]"
        >
          <section
            class="flex gap-2 justify-center items-center animate-moveFromLeft text-2xl lg:text-[35px] pb-2"
          >
            <span class=""
              >{dictionary[defaultLanguage].greeting}
            </span>
            <span
              class="  font-bold "
              >Ivan Rodriguez Rojas</span
            >
          </section>
          <section class="flex flex-col gap-2 justify-center items-center">
            
<!-- <span class="text-cyan-900 dark:text-cyan-300 font-light">&lbrace;</span
          > -->
          {defaultLanguage === 'en' ? (
            <span
            class=" text-3xl lg:text-8xl uppercase font-extrabold text-balance animate-moveFromLeft text-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8] dark:bg-clip-text dark:text-transparent"
          >
            {dictionary[defaultLanguage]?.slogan.split(' ')[0]}
            
          </span>
          <span
            class="text-3xl lg:text-[88px] uppercase font-extrabold text-balance animate-moveFromLeft pb-5"
          >
            {dictionary[defaultLanguage]?.slogan.split(' ')[1]}
          </span>
          ) : (
          <span
            class="text-3xl lg:text-[58px] uppercase font-extrabold text-balance animate-moveFromLeft pt-2"
          >
            {dictionary[defaultLanguage]?.slogan.split(' ')[0]}
            
          </span>
          <span
            class="text-3xl lg:text-8xl uppercase font-extrabold text-balance animate-moveFromLeft text-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8] dark:bg-clip-text dark:text-transparent"
          >
            {dictionary[defaultLanguage]?.slogan.split(' ')[1]}
          </span>
          )}
          </section>
          
          
          
          <!-- <span class="text-cyan-900 dark:text-cyan-300 font-light">&rbrace;</span
          > -->
          <!-- <LevelStars /> -->
          <p class="text-center animate-moveUp">
            {dictionary[defaultLanguage]?.description}
          </p>
        </section>
        
        
      </div>

      <div
        class="col-span-2  animate-fadeIn"
      >
        <div class=" flex flex-col  justify-center items-center gap-7">
          <!-- <div
            class="z-0 hidden lg:absolute h-36 w-14 bg-[#35716e] dark:bg-gray-900 lg:-translate-y-1/2 lg:top-1/2 lg:-left-14 lg:inline-block"
          >
          </div> -->
          <!-- Imagen mia -->
          <!-- <img
            class="absolute z-10 left-1/2 -translate-x-1/2 lg:translate-x-0 -top-14 lg:-translate-y-1/2 lg:top-1/2 lg:-left-32 inline-block h-32 w-32 rounded-full object-cover object-center ring-8 ring-[#35716e] dark:ring-8 dark:ring-gray-900"
            alt="Image placeholder"
            src="/src/assets/profile.jpg"
            width="128"
            height="128"
          /> -->
          <div class="relative h-60 w-60 lg:h-60 lg:w-60 rounded-full">
            <div class="absolute -inset-0.5 bg-[#12435f] dark:bg-[#deae4f] rounded-full blur"></div>

            <img
            class="relative z-10 h-60 w-60 rounded-full object-cover object-center ring-4 ring-[#12435f] dark:ring-4 dark:ring-[#deae4f]"
            alt="Ivan Profile"
            src="/src/assets/profile.webp"
            width="128"
            height="128"
            loading="lazy"
          />
          </div>
          <section class="text-xs"><Badge
                  badgeText={dictionary[defaultLanguage]?.rhetoric}
                  badgeIcon=`<svg xmlns="http://www.w3.org/2000/svg" class="animate-pulse" width="12" height="12" viewBox="0 0 12 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.684 3.603c.521-.659.03-1.603-.836-1.603h-6.716a1.06 1.06 0 0 0-.909.502l-5.082 8.456c-.401.666.103 1.497.908 1.497h3.429l-3.23 8.065c-.467 1.02.795 1.953 1.643 1.215L20 9.331h-6.849z"/></svg>`
                  badgeColor=`blue-400`
                /></section>
                <a
                id="buttoncv"
                title={defaultLanguage === "es"
                  ? "Leer CV de Iván Rodríguez Rojas"
                  : "Read Iván's CV"}
                class=" z-10 drop-shadow-xl dark:text-cyan-300 hover:text-black dark:hover:text-cyan-600
          -top-16 left-28 font-caveat col-span-3 lg:col-span-1 capitalize
          animate-moveDown hover:font-extrabold hover:scale-125 hover:cursor-pointer
          transition-all duration-300 overflow-hidden px-4 py-2 flex items-center justify-center"
              >
                {dictionary[defaultLanguage].readcv}
              </a>

              <a
                class="z-10 dark:text-cyan-300 hover:text-black dark:hover:text-cyan-600 left-0 -translate-x-10 lg:translate-x-8 -top-2 font-caveat col-span-1 hover:font-extrabold hover:scale-125 hover:cursor-pointer transition-all duration-300 animate-moveDown overflow-hidden px-4 py-2 flex items-center justify-center"
                href={defaultLanguage === "es"
                  ? "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
                  : "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
                download={defaultLanguage === "es"
                  ? "CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
                  : "CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
                title={defaultLanguage === "es"
                  ? "Descargar CV de Iván Rodríguez Rojas"
                  : "Download Iván Rodríguez Rojas CV"}
              >
                {dictionary[defaultLanguage]?.download}
              </a>
                <!-- Badge de loas opciones de curriculum -->
          <!-- <section class="relative flex justify-center align-middle">
            
            <div class="grid grid-cols-4 text-lg font-medium  h-auto">
              <div class="col-span-3 lg:col-span-2">
                <Badge
                  badgeText={dictionary[defaultLanguage]?.rhetoric}
                  badgeIcon=`<svg xmlns="http://www.w3.org/2000/svg" class="animate-pulse" width="12" height="12" viewBox="0 0 12 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.684 3.603c.521-.659.03-1.603-.836-1.603h-6.716a1.06 1.06 0 0 0-.909.502l-5.082 8.456c-.401.666.103 1.497.908 1.497h3.429l-3.23 8.065c-.467 1.02.795 1.953 1.643 1.215L20 9.331h-6.849z"/></svg>`
                  badgeColor=`blue-400`
                />
              </div>

              <a
                id="buttoncv"
                title={defaultLanguage === "es"
                  ? "Leer CV de Iván Rodríguez Rojas"
                  : "Read Iván's CV"}
                class="absolute z-10 drop-shadow-xl dark:text-cyan-300 hover:text-black dark:hover:text-cyan-600
          -top-16 left-28 font-caveat col-span-3 lg:col-span-1 capitalize
          animate-moveDown hover:font-extrabold hover:scale-125 hover:cursor-pointer
          transition-all duration-300 overflow-hidden px-4 py-2 flex items-center justify-center"
              >
                {dictionary[defaultLanguage].readcv}
              </a>

              <a
                class="z-10 dark:text-cyan-300 hover:text-black dark:hover:text-cyan-600 left-0 -translate-x-10 lg:translate-x-8 -top-2 font-caveat col-span-1 hover:font-extrabold hover:scale-125 hover:cursor-pointer transition-all duration-300 animate-moveDown overflow-hidden px-4 py-2 flex items-center justify-center"
                href={defaultLanguage === "es"
                  ? "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
                  : "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
                download={defaultLanguage === "es"
                  ? "CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
                  : "CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
                title={defaultLanguage === "es"
                  ? "Descargar CV de Iván Rodríguez Rojas"
                  : "Download Iván Rodríguez Rojas CV"}
              >
                {dictionary[defaultLanguage]?.download}
              </a>

              
              <span class="absolute -top-8 left-24 -rotate-45">
                <svg
                  version="1.0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="118px"
                  height="37px"
                  viewBox="0 0 318.000000 237.000000"
                  preserveAspectRatio="xMidYMid meet"
                  class="fill-current text-[#000000] dark:text-slate-50"
                >
                  <g
                    transform="translate(0.000000,237.000000) scale(0.100000,-0.100000)"
                    fill="currentColor"
                    stroke="none"
                  >
                    <path
                      d="M504 1665 c-68 -116 -101 -286 -83 -427 20 -163 81 -290 186 -388 86
            -81 157 -113 253 -114 66 -1 84 3 143 32 l67 33 68 -15 c108 -24 216 -29 382
            -17 169 12 208 18 600 85 146 24 285 46 310 48 l45 3 3 -78 c4 -119 10 -118
            272 36 88 52 126 79 128 94 9 59 -220 163 -360 163 l-48 0 0 -68 0 -69 -97
            -12 c-54 -7 -228 -35 -388 -61 -159 -27 -343 -54 -409 -61 -116 -11 -368 -8
            -413 6 -22 7 -21 9 23 66 91 119 152 296 140 405 -17 146 -78 214 -193 214
            -136 0 -252 -128 -283 -311 -22 -129 18 -268 100 -347 l43 -41 -29 -12 c-16
            -7 -59 -14 -96 -17 -56 -3 -75 0 -122 21 -69 32 -131 94 -184 183 -59 100 -83
            181 -89 299 -6 112 14 219 62 322 29 64 30 73 10 73 -8 0 -26 -20 -41 -45z
            m685 -209 c35 -19 52 -56 58 -132 7 -83 -12 -186 -49 -260 -28 -58 -120 -174
            -137 -174 -5 0 -28 18 -53 40 -64 56 -91 123 -91 225 0 136 62 253 158 296 49
            22 77 24 114 5z"
                    ></path>
                  </g>
                </svg>
              </span>
              <span class="absolute top-0 left-40 scale-x-100">
                <svg
                  version="1.0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="118px"
                  height="37px"
                  viewBox="0 0 318.000000 237.000000"
                  preserveAspectRatio="xMidYMid meet"
                  class="fill-current text-[#000000] dark:text-slate-50"
                >
                  <g
                    transform="translate(0.000000,237.000000) scale(0.100000,-0.100000)"
                    fill="currentColor"
                    stroke="none"
                  >
                    <path
                      d="M504 1665 c-68 -116 -101 -286 -83 -427 20 -163 81 -290 186 -388 86
            -81 157 -113 253 -114 66 -1 84 3 143 32 l67 33 68 -15 c108 -24 216 -29 382
            -17 169 12 208 18 600 85 146 24 285 46 310 48 l45 3 3 -78 c4 -119 10 -118
            272 36 88 52 126 79 128 94 9 59 -220 163 -360 163 l-48 0 0 -68 0 -69 -97
            -12 c-54 -7 -228 -35 -388 -61 -159 -27 -343 -54 -409 -61 -116 -11 -368 -8
            -413 6 -22 7 -21 9 23 66 91 119 152 296 140 405 -17 146 -78 214 -193 214
            -136 0 -252 -128 -283 -311 -22 -129 18 -268 100 -347 l43 -41 -29 -12 c-16
            -7 -59 -14 -96 -17 -56 -3 -75 0 -122 21 -69 32 -131 94 -184 183 -59 100 -83
            181 -89 299 -6 112 14 219 62 322 29 64 30 73 10 73 -8 0 -26 -20 -41 -45z
            m685 -209 c35 -19 52 -56 58 -132 7 -83 -12 -186 -49 -260 -28 -58 -120 -174
            -137 -174 -5 0 -28 18 -53 40 -64 56 -91 123 -91 225 0 136 62 253 158 296 49
            22 77 24 114 5z"
                    ></path>
                  </g>
                </svg>
              </span>
             
            </div>
            
          </section> -->
          <!-- Badge de loas opciones de curriculum -->
        </div>
      </div>
      <div class="col-span-1 animate-fadeIn">
        <section
          class="grid grid-cols-1 grid-rows-4 gap-7 justify-center items-center p-5 z-auto w-48"
        >
          <div
            class="relative w-full rounded-xl rotate-3  flex  py-1 px-2 dark:text-white text-gray-800  bg-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8]"
          >
          <div class="absolute -inset-0.5 dark:bg-[#12435f] bg-[#deae4f] rounded-xl blur"></div>
            <span
              class="relative z-10 experience text-6xl font-bold font-jost" 
              data-experience="12"></span>

            <span
              class="relative z-10 experience-text text-xs"
              data-text={dictionary[defaultLanguage].yearsCard}></span>
          </div>
          <div
            class="relative w-full rounded-xl -rotate-3 flex  py-1 px-2 dark:text-white text-gray-800  bg-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8]"
          >
          <div class="absolute -inset-0.5 dark:bg-[#12435f] bg-[#deae4f] rounded-xl blur"></div>
            <span
              class="relative z-10 experience text-6xl font-bold font-jost" 
              data-experience="11"></span>

            <span
              class="relative z-10  experience-text text-xs"
              data-text={dictionary[defaultLanguage].languageCard}></span>
          </div>
        </section>
      </div>
    </div>

    <dialog
      id="dialogcv"
      class="overflow-hidden relative w-full h-full bg-gray-800 bg-opacity-70 backdrop-blur-md open:flex justify-center p-2"
    >
      <iframe
        class="w-[80%] h-full justify-center items-center"
        src={defaultLanguage === "es"
          ? "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
          : "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
        frameborder="0"></iframe>
      <span
        class="absolute right-2 top-2 text-white items-center justify-center"
        ><button class="border-2 rounded-full w-10 h-10 font-mono" id="closecv"
          >X</button
        ></span
      >
    </dialog>
  </div>
  <!-- <div
    class="flex-1 right-8 h-[80%] lg:mt-10 -z-10 lg:z-auto opacity-5 lg:opacity-100 absolute lg:static"
  >
    <BlockCodeImg />
  </div> -->
</div>
<script>
  const $buttoncv = document.querySelector("#buttoncv");
  const $dialogcv = document.querySelector("#dialogcv");
  const $closecv = document.querySelector("#closecv");

  $buttoncv?.addEventListener("click", () => {
    $dialogcv.showModal();
  });
  $closecv.addEventListener("click", () => {
    $dialogcv?.close();
  });
</script>
