---
import { icons } from "../data/icons";
import Technology from "./Technology.astro";
import Badge from "./Badge.astro";
import BlockCodeImg from "./BlockCodeImg.astro";
/* import { getUser } from "../services/GetUser.astro";
const { data } = await getUser(); */
import Image from "astro/components/Image.astro";
import { dictionary } from "../data/dictionary";
import LevelStars from "./LevelStars.astro";
const { defaultLanguage }: { defaultLanguage: "en" | "es" } = Astro.props;
---


<section class="grid grid-cols-1 items-center justify-center gap-4 w-auto">
  <div
  class=" lg:h-[500px] z-[1] items-start flex flex-col columns-2 space-x-20 pt-6 lg:pt-10 lg:flex-row md:flex-col md:items-center w-full"
>
  <div
    class="flex flex-1 flex-col columns-1 justify-center items-start px-4 lg:px-8 mt-10"
  >
    <div
      class="grid grid-cols-1 lg:grid-cols-8 items-center justify-center  lg:gap-1"
    >
      <div class="col-span-5 animate-moveFromLeft">
        <section
          class="ease-in flex flex-col gap-2 tracking-wider justify-center items-center w-[100%] lg:w-[90%]"
        >
          <section
            class="flex gap-2 justify-center items-center animate-moveFromLeft text-2xl lg:text-[35px] pb-2"
          >
            <span class=""
              >{dictionary[defaultLanguage].greeting}
            </span>
            <span
              class="  font-bold "
              >Ivan Rodriguez Rojas</span
            >
          </section>
          <section class="flex flex-col gap-2 justify-center items-center">
            
<!-- <span class="text-cyan-900 dark:text-cyan-300 font-light">&lbrace;</span
          > -->
          {defaultLanguage === 'en' ? (
            <span
            class=" text-3xl lg:text-8xl uppercase font-extrabold text-balance animate-moveFromLeft text-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8] dark:bg-clip-text dark:text-transparent"
          >
            {dictionary[defaultLanguage]?.slogan.split(' ')[0]}
            
          </span>
          <span
            class="text-3xl lg:text-[88px] uppercase font-extrabold text-balance animate-moveFromLeft pb-5"
          >
            {dictionary[defaultLanguage]?.slogan.split(' ')[1]}
          </span>
          ) : (
          <span
            class="text-3xl lg:text-[58px] uppercase font-extrabold text-balance animate-moveFromLeft pt-2"
          >
            {dictionary[defaultLanguage]?.slogan.split(' ')[0]}
            
          </span>
          <span
            class="text-3xl lg:text-8xl uppercase font-extrabold text-balance animate-moveFromLeft text-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8] dark:bg-clip-text dark:text-transparent"
          >
            {dictionary[defaultLanguage]?.slogan.split(' ')[1]}
          </span>
          )}
          </section>
          
          
          
          <!-- <span class="text-cyan-900 dark:text-cyan-300 font-light">&rbrace;</span
          > -->
          <!-- <LevelStars /> -->
          <p class="text-center animate-moveUp">
            {dictionary[defaultLanguage]?.description}
          </p>
        </section>
        
        
      </div>

      <div
        class="col-span-2  animate-fadeIn"
      >
        <div class=" flex flex-col  justify-center items-center gap-7">
          <!-- <div
            class="z-0 hidden lg:absolute h-36 w-14 bg-[#35716e] dark:bg-gray-900 lg:-translate-y-1/2 lg:top-1/2 lg:-left-14 lg:inline-block"
          >
          </div> -->
          <!-- Imagen mia -->
          <!-- <img
            class="absolute z-10 left-1/2 -translate-x-1/2 lg:translate-x-0 -top-14 lg:-translate-y-1/2 lg:top-1/2 lg:-left-32 inline-block h-32 w-32 rounded-full object-cover object-center ring-8 ring-[#35716e] dark:ring-8 dark:ring-gray-900"
            alt="Image placeholder"
            src="/src/assets/profile.jpg"
            width="128"
            height="128"
          /> -->
          <div class="relative h-90 w-60 rounded-xl border-4 overflow-hidden">
            <!-- <div class="absolute -inset-0.5 bg-[#12435f] dark:bg-[#deae4f] rounded-md blur"></div> -->

            <img
            class="img-mia  h-[100%] w-[100%]  object-cover object-center "
            alt="Ivan Profile"
            src="/src/assets/profile.webp"
            width="128"
            height="128"
            loading="lazy"
          />
          <div
            class="z-10 absolute p-2 text-xs bottom-0 right-0 w-30 border-t-4 border-l-4  flex  py-1 px-2 dark:text-white text-gray-800  bg-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8]"
          >
          {dictionary[defaultLanguage]?.rhetoric}
             <!-- <span
              class="text-xs"
             ></span> -->
          </div>
          <div class="curve-one"></div>
          <div class="curve-two"></div>
          </div>
          <!-- <section class="text-xs"><Badge
                  badgeText={dictionary[defaultLanguage]?.rhetoric}
                  badgeIcon=`<svg xmlns="http://www.w3.org/2000/svg" class="animate-pulse" width="12" height="12" viewBox="0 0 12 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.684 3.603c.521-.659.03-1.603-.836-1.603h-6.716a1.06 1.06 0 0 0-.909.502l-5.082 8.456c-.401.666.103 1.497.908 1.497h3.429l-3.23 8.065c-.467 1.02.795 1.953 1.643 1.215L20 9.331h-6.849z"/></svg>`
                  badgeColor=`blue-400`
                /></section>
                <a
                id="buttoncv"
                title={defaultLanguage === "es"
                  ? "Leer CV de Iván Rodríguez Rojas"
                  : "Read Iván's CV"}
                class=" z-10 drop-shadow-xl dark:text-cyan-300 hover:text-black dark:hover:text-cyan-600
          -top-16 left-28 font-caveat col-span-3 lg:col-span-1 capitalize
          animate-moveDown hover:font-extrabold hover:scale-125 hover:cursor-pointer
          transition-all duration-300 overflow-hidden px-4 py-2 flex items-center justify-center"
              >
                {dictionary[defaultLanguage].readcv}
              </a>

              <a
                class="z-10 dark:text-cyan-300 hover:text-black dark:hover:text-cyan-600 left-0 -translate-x-10 lg:translate-x-8 -top-2 font-caveat col-span-1 hover:font-extrabold hover:scale-125 hover:cursor-pointer transition-all duration-300 animate-moveDown overflow-hidden px-4 py-2 flex items-center justify-center"
                href={defaultLanguage === "es"
                  ? "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
                  : "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
                download={defaultLanguage === "es"
                  ? "CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
                  : "CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
                title={defaultLanguage === "es"
                  ? "Descargar CV de Iván Rodríguez Rojas"
                  : "Download Iván Rodríguez Rojas CV"}
              >
                {dictionary[defaultLanguage]?.download}
              </a> -->
        </div>
      </div>
      <div class="col-span-1 animate-fadeIn">
        <section
          class="grid grid-cols-1 grid-rows-4 gap-7 justify-center items-center p-5 z-auto w-48"
        >
          <div
            class="relative w-full rounded-xl rotate-3  flex  py-1 px-2 dark:text-white text-gray-800  bg-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8]"
          >
          <div class="absolute -inset-0.5 dark:bg-[#12435f] bg-[#deae4f] rounded-xl blur"></div>
            <span
              class="relative z-10 experience text-6xl font-bold font-jost" 
              data-experience="12"></span>

            <span
              class="relative z-10 experience-text text-xs"
              data-text={dictionary[defaultLanguage].yearsCard}></span>
          </div>
          <div
            class="relative w-full rounded-xl -rotate-3 flex  py-1 px-2 dark:text-white text-gray-800  bg-[#eaaf37] dark:bg-gradient-to-bl dark:from-[#3888f8] dark:via-[#38d5f8] dark:to-[#3888f8]"
          >
          <div class="absolute -inset-0.5 dark:bg-[#12435f] bg-[#deae4f] rounded-xl blur"></div>
            <span
              class="relative z-10 experience text-6xl font-bold font-jost" 
              data-experience="11"></span>

            <span
              class="relative z-10  experience-text text-xs"
              data-text={dictionary[defaultLanguage].languageCard}></span>
          </div>
        </section>
      </div>
    </div>

    <dialog
      id="dialogcv"
      class="overflow-hidden relative w-full h-full bg-gray-800 bg-opacity-70 backdrop-blur-md open:flex justify-center p-2"
    >
      <iframe
        class="w-[80%] h-full justify-center items-center"
        src={defaultLanguage === "es"
          ? "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
          : "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
        frameborder="0"></iframe>
      <span
        class="absolute right-2 top-2 text-white items-center justify-center"
        ><button class="border-2 rounded-full w-10 h-10 font-mono" id="closecv"
          >X</button
        ></span
      >
    </dialog>
  </div>
  <!-- <div
    class="flex-1 right-8 h-[80%] lg:mt-10 -z-10 lg:z-auto opacity-5 lg:opacity-100 absolute lg:static"
  >
    <BlockCodeImg />
  </div> -->
  
</div>
<div class="animate-moveUp text-xs w-[100%] lg:w-[75%] lg:pb-5 grid grid-cols-1 md:flex justify-center align-middle md:gap-3">
  
  <!-- <Badge
                  badgeText={dictionary[defaultLanguage]?.rhetoric}
                  badgeIcon=`<svg xmlns="http://www.w3.org/2000/svg" class="animate-pulse" width="12" height="12" viewBox="0 0 12 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.684 3.603c.521-.659.03-1.603-.836-1.603h-6.716a1.06 1.06 0 0 0-.909.502l-5.082 8.456c-.401.666.103 1.497.908 1.497h3.429l-3.23 8.065c-.467 1.02.795 1.953 1.643 1.215L20 9.331h-6.849z"/></svg>`
                  badgeColor=`blue-400`
                /> -->
  
                <a
                id="buttoncv"
                title={defaultLanguage === "es"
                  ? "Leer CV de Iván Rodríguez Rojas"
                  : "Read Iván's CV"}
                class="hero-link group space-x-1  dark:hover:bg-transparent text-gray-700 dark:text-gray-200 flex items-center justify-center dark:group-hover:text-white rounded-lg py-1 px-3"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512" class="group-hover:rotate-12 group-hover:scale-110 transition-scale duration-300"><path fill="currentColor" d="M48 32C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm98.88 133.234c19.636 0 37.082 6.789 49.929 16.971c11.88 9.452 17.444 18.907 22.298 27.393l-33.923 16.949c-2.427-5.565-5.347-11.387-12.846-17.682c-8.248-6.552-16.478-8.484-23.524-8.484c-27.626 0-42.17 25.693-42.17 54.287c0 37.573 19.161 56.22 42.17 56.22c22.3 0 31.278-15.51 37.08-25.435L219.6 302.66c-6.315 9.926-12.374 19.635-25.95 29.069c-7.262 5.09-23.977 15.037-47.736 15.037C100.586 346.766 64 313.81 64 255.87c0-50.636 34.415-90.637 82.88-90.637m75.483 5.328h45.565L303.31 292.24l35.125-121.678H384l-59.379 171.112H281.01z"/></svg>
              <label class="text-sm border-l-2 border-solid border-gray-600 pl-2  font-light group-hover:font-semibold transition-scale duration-300"> {dictionary[defaultLanguage].readcv}</label>
               
              </a>
              <a
                class="hero-link group space-x-1  dark:hover:bg-transparent text-gray-700 dark:text-gray-200 flex items-center justify-center dark:group-hover:text-white rounded-lg py-1 px-3"
                href={defaultLanguage === "es"
                  ? "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
                  : "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
                download={defaultLanguage === "es"
                  ? "CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
                  : "CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
                title={defaultLanguage === "es"
                  ? "Descargar CV de Iván Rodríguez Rojas"
                  : "Download Iván Rodríguez Rojas CV"}
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="group-hover:rotate-12 group-hover:scale-110 transition-scale duration-300"><path fill="currentColor" d="M18 2h-7.17c-.53 0-1.04.21-1.42.59L4.59 7.41C4.21 7.79 4 8.3 4 8.83V20c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-6.35 14.65l-2.79-2.79c-.32-.32-.1-.86.35-.86H11v-2.99a1 1 0 0 1 .99-1a.993.993 0 0 1 1.01 1V13h1.79c.45 0 .67.54.35.85l-2.79 2.79c-.19.2-.51.2-.7.01"/></svg>
              <label class="text-sm border-l-2 border-solid border-gray-600 pl-2  font-light group-hover:font-semibold transition-scale duration-300"> {dictionary[defaultLanguage]?.download}</label>  
              
              </a>
                <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="hero-link group space-x-1  dark:hover:bg-transparent text-gray-700 dark:text-gray-200 flex items-center justify-center dark:group-hover:text-white rounded-lg py-1 px-3"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 496 512"
          class="group-hover:rotate-12 group-hover:scale-110 transition-scale duration-300"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          ><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
          ></path></svg
        ><label class="text-sm border-l-2 border-solid border-gray-600 pl-2  font-light group-hover:font-semibold transition-scale duration-300">GitHub</label>
      </a>
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="hero-link group space-x-1  dark:hover:bg-transparent text-gray-700 dark:text-gray-200 flex items-center justify-center dark:group-hover:text-white rounded-lg py-1 px-3"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-brand-linkedin group-hover:rotate-12 group-hover:scale-110 transition-scale duration-300"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M17 2a5 5 0 0 1 5 5v10a5 5 0 0 1 -5 5h-10a5 5 0 0 1 -5 -5v-10a5 5 0 0 1 5 -5zm-9 8a1 1 0 0 0 -1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0 -1 -1m6 0a3 3 0 0 0 -1.168 .236l-.125 .057a1 1 0 0 0 -1.707 .707v5a1 1 0 0 0 2 0v-3a1 1 0 0 1 2 0v3a1 1 0 0 0 2 0v-3a3 3 0 0 0 -3 -3m-6 -3a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1"
          ></path></svg
        ><label class="text-sm border-l-2 border-solid border-gray-600 pl-2  font-light group-hover:font-semibold transition-scale duration-300">Linkedin</label>
      </a>
</div>
</section>
<script>
  const $buttoncv = document.querySelector("#buttoncv");
  const $dialogcv = document.querySelector("#dialogcv");
  const $closecv = document.querySelector("#closecv");

  $buttoncv?.addEventListener("click", () => {
    $dialogcv.showModal();
  });
  $closecv.addEventListener("click", () => {
    $dialogcv?.close();
  });
</script>
