---
import { icons } from "../data/icons";
import Technology from "./Technology.astro";
import Badge from "./Badge.astro";
import BlockCodeImg from "./BlockCodeImg.astro";
/* import { getUser } from "../services/GetUser.astro";

const { data } = await getUser(); */
import { dictionary } from "../data/dictionary";
import LevelStars from "./LevelStars.astro";
const { defaultLanguage } = Astro.props;
---

<div
  class="h-[380px] lg:h-[500px] z-[1] items-start flex flex-col columns-2 space-x-20 pt-6 lg:pt-10 lg:flex-row md:flex-col md:items-center w-full relative lg:static"
>
  <div
    class="flex flex-col columns-1 justify-center items-start px-4 lg:px-8 h-fit-content mt-10"
  >
    <div class="grid grid-cols-1 items-center">
      <div class="grid grid-cols-4 text-xs font-medium mb-4">
        <div class="col-span-3 lg:col-span-2 ">
          <Badge
          badgeText={dictionary[defaultLanguage]?.rhetoric}
          badgeIcon=`<svg xmlns="http://www.w3.org/2000/svg" class="animate-pulse" width="12" height="12" viewBox="0 0 12 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.684 3.603c.521-.659.03-1.603-.836-1.603h-6.716a1.06 1.06 0 0 0-.909.502l-5.082 8.456c-.401.666.103 1.497.908 1.497h3.429l-3.23 8.065c-.467 1.02.795 1.953 1.643 1.215L20 9.331h-6.849z"/></svg>`
          badgeColor=`blue-400`
          animate="true"
        />
        </div>

        <button
          id="butoncv"
          class="col-span-3 lg:col-span-1 capitalize animate-moveDown hover:scale-105 hover:cursor-pointer transition-all duration-300"
        >
          {dictionary[defaultLanguage]?.readcv}
        </button>
        <button
          class="col-span-3 lg:col-span-1 hover:scale-105 hover:cursor-pointer transition-all duration-300 animate-moveDown overflow-hidden"
          ><a
            href={defaultLanguage === "es"
              ? "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
              : "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
            download={defaultLanguage === "es"
              ? "CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
              : "CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
            title={defaultLanguage === "es"
              ? "Descargar el CV de Iván Rodríguez Rojas"
              : "Download Iván Rodríguez Rojas CV"}
          >
            {dictionary[defaultLanguage]?.download}
          </a>
        </button>
      </div>

      <div class="animate-moveFromLeft ease-in">
        <h1 class="text-2xl lg:text-4xl uppercase font-extrabold text-balance">
          Ivan Rodriguez Rojas
        </h1>
      </div>
      <label class="capitalize text-2xl tracking-wider animate-moveFromLeft"
        ><span class="text-cyan-900 dark:text-cyan-300 font-light"
          >&lbrace;</span
        >
        <span class="italic">{dictionary[defaultLanguage]?.slogan}</span>
        <span class="text-cyan-900 dark:text-cyan-300 font-light">&rbrace;</span
        ></label
      >
      <LevelStars />
      <p
        class="pt-4 w-fit flex-wrap animate-moveFromLeft text-pretty lg:text-lg md:text-lg text-gray-400"
      >
        {dictionary[defaultLanguage]?.description}
      </p>
    </div>
    <!-- Imagen mia -->
    <img
      transition:name="profileImg"
      class="absolute z-10 bottom-3/4 right-4 lg:bottom-9 lg:right-[85%] inline-block h-32 w-32 rounded-full object-cover object-center animate-fadeIn dark:ring-4 ring-[#334155]"
      alt="Image placeholder"
      src="/src/assets/profile.jpg"
    />
    <dialog
      id="dialogcv"
      class="overflow-hidden relative w-full h-full bg-gray-800 bg-opacity-70 backdrop-blur-md open:flex justify-center p-2"
    >
      <iframe
        class="w-[80%] h-full justify-center items-center"
        src={defaultLanguage === "es"
          ? "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_Espanol.pdf"
          : "/src/assets/documents/CV_FrontEnd_Dev_IvanRodriguezRojas_English.pdf"}
        frameborder="0"></iframe>
      <span
        class="absolute right-2 top-2 text-white items-center justify-center"
        ><button class="border-2 rounded-full w-10 h-10 font-mono" id="closecv"
          >X</button
        ></span
      >
    </dialog>
  </div>
  <div
    class="right-8 h-[80%] lg:mt-10 -z-10 lg:z-auto opacity-5 lg:opacity-100 absolute lg:static"
  >
    <BlockCodeImg />
  </div>
</div>
<script>
  const $butoncv = document.querySelector("#butoncv");
  const $dialogcv = document.querySelector("#dialogcv");
  const $closecv = document.querySelector("#closecv");

  $butoncv?.addEventListener("click", () => {
    $dialogcv.showModal();
  });
  $closecv.addEventListener("click", () => {
    $dialogcv?.close();
  });
</script>
