---
import { skills } from "../data/skills";
import { dictionary } from "../data/dictionary";
const technical = skills.technical;
const soft = skills.soft;

const { defaultLanguage } = Astro.props;
---

<div class="animatedScroll grid grid-cols-1 lg:grid-cols-2 space-x-0 my-5">
  <div
    class="container grid grid-cols-1 lg:grid-cols-2 gap-4 rounded-3xl bg-white/90 dark:text-black/80 shadow-xl shadow-gray-600"
  >
    <section
      id="tech-skills"
      class="rounded-3xl bg-cyan-900 dark:bg-slate-400 p-3 text-white/70 dark:text-black/80"
    >
      <h2 class="font-extrabold">{dictionary[defaultLanguage]?.technical}</h2>
      <div class="skills flex flex-col gap-2">
        {
          technical.map((skill, index) => {
            return (
              <div
                class={`group rounded-lg flex flex-col justify-between px-2 py-1 text-xs font-medium ring-1 ring-inset`}
              >
                <div class="flex flex-1 justify-between">
                  <h3
                    class={`group-hover:translate-x-3.5 group-hover:scale-125 transition duration-300`}
                  >
                    {skill.name}
                  </h3>
                  <span class="inline-flex font-bold group-hover:scale-125 transition duration-200">
                    {skill.rating/10} /10
                  </span>
                </div>
                <div class=" flex flex-1 items-end gap-2 ">
                  
                  <div class="overflow-hidden bg-blue-50 h-1.5 rounded-full w-2/3">
                    <span
                      class="h-full bg-blue-500 w-full block rounded-full"
                      style={`width: ${skill.rating}%`}
                    />
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
    <section class="p-3" id="soft-skills">
      <h2 class="font-extrabold">{dictionary[defaultLanguage]?.soft}</h2>
      <div class="skills flex flex-col gap-2">
        {
          soft.map((skill, index) => {
            return (
              <div
                class={`group rounded-lg flex flex-col justify-between px-2 py-1 text-xs font-medium ring-1 ring-inset`}
              >
                <div class="flex flex-1 justify-between">
                  <h3
                    class={`group-hover:translate-x-3.5 group-hover:scale-125 transition duration-300`}
                  >
                    {skill[defaultLanguage]}
                  </h3>
                  <span class="inline-flex font-bold group-hover:scale-125 transition duration-200">
                    {skill.rating/10} /10
                  </span>
                </div>
                <div class=" flex flex-1 items-end gap-2">
                  
                  <div class="overflow-hidden bg-blue-50 h-1.5 rounded-full w-2/3">
                    <span
                      class="h-full bg-orange-800 w-full block rounded-full"
                      style={`width: ${skill.rating}%`}
                    />
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </div>
  <div
    class="flex flex-col uppercase font-interTight text-lg dark:font-interTight lg:text-3xl line-clamp-3 text-center mx-auto tracking-normal align-middle justify-center"
  >
    <p class="leading-relaxed py-8 px-4">
      El éxito no es solo código, sino las personas y las ideas detrás de cada
      proyecto. Aquí muestro las habilidades que me ayudan a colaborar, innovar
      y superar desafíos cada día.
    </p>
  </div>
</div>
