---
import { skills } from "../data/skills";
import { dictionary } from "../data/dictionary";
import Badge from "./Badge.astro";
import BlockCodeImg from "./BlockCodeImg.astro";

import Technology from "./Technology.astro";
const technical = skills.technical;
const soft = skills.soft;

const { defaultLanguage }: { defaultLanguage: "es" | "en" } = Astro.props;
---
<div class="flex items-center justify-center">
  <Technology defaultLanguage={defaultLanguage} />
</div>
<div
  class="animatedScroll grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 items-center justify-center gap-4 my-5 w-full"
>
  <section class="col-span-1 lg:col-span-2 pl-[10%]">
    <BlockCodeImg />
  </section>
  <ul
    id="tech-skills"
    class="col-span-1 md:col-span-1 lg:col-span-3 rounded-3xl bg-cyan-900 dark:bg-gray-900 p-3 text-white/70 font-jost"
  >
    <h2 id="skills" class="font-extrabold">
      {dictionary[defaultLanguage]?.technical}
    </h2>
  <ul class="-rotate-90">
    <div class="skills flex flex-col gap-2">
      {
        technical.map((skill, index) => {
          return (
            <li class="row-skill group flex flex-col justify-between py-1 text-xs md:text-sm lg:text-lg font-medium ">
              <div class="grid grid-cols-3 gap-2  w-auto justify-end ">
                
                <h3 class="flex gap-3  justify-end align-middle">
                 <span class="rotate-45 group-hover:-translate-x-4 group-hover:scale-125 transition duration-300">{skill.name}</span> <span class="icon flex h-5 w-5 p-0 top-0 size-8 rotate-90"  set:html={skill.icon}></span>
                  
                </h3>
                <div class=" flex overflow-hidden bg-blue-50 rounded-md w-[80%]  h-5 justify-start align-middle ">
                  <span
                    class="barLevelSkill h-full bg-blue-500  block group-hover:bg-cyan-300 transition-colors duration-500"
                    data-bar={`${skill.rating}`}
                  />   
                                 
                </div>
                <div class="relative justify-start align-top">
                  <div class="absolute left-0 -translate-x-full">
                    <span class="z-0 relative text-sm group-hover:scale-125 opacity-0 group-hover:opacity-75 transition-opacity duration-200 ease-in justify-start align-middle   bg-slate-500 rounded-md w-fit p-1 before:content-[''] before:absolute before:h-3 before:w-3 before:bg-slate-500 before:rotate-45 before:-left-1 before:top-1/2 before:-translate-y-1/2">
                      <span
                        class="levelSkill z-50 relative"
                        data-level={`${skill.rating / 10}`}
                      />{" "}
                      /10{" "}
                    </span>
                  </div>
                </div>
                
              </div>
            </li>
          );
        })
      }
    </div></ul>
  </section>

  <!-- <div
    class="flex-1 container grid grid-cols-1 lg:grid-cols-2 gap-4 rounded-3xl bg-white/90 dark:text-black/80 shadow-lg shadow-[rgba(0,0,0,0.5)] dark:shadow-[rgba(255,255,255,0.2)]"
  >
    <section
      id="tech-skills"
      class="rounded-3xl bg-cyan-900 dark:bg-slate-400 p-3 text-white/70 dark:text-black/80"
    >
      <h2 id="skills" class="font-extrabold">
        {dictionary[defaultLanguage]?.technical}
      </h2>
      <div class="skills flex flex-col gap-2">
        {
          technical.map((skill, index) => {
            return (
              <div
                class='group rounded-lg flex flex-col justify-between px-2 py-1 text-xs font-medium ring-1 ring-inset'
              >
                <div class="grid grid-cols-3 gap-2">
                  <h3
                    class='flex group-hover:-translate-x-8 group-hover:scale-125 transition duration-300 justify-end align-middle'
                  >
                    {skill.name}
                  </h3>
                  <div class="flex overflow-hidden bg-blue-50 rounded-md w-2/3 h-5 justify-start align-middle">
                    <span
                      class="barLevelSkill h-full bg-blue-500 w-full block "
                      data-bar={`${skill.rating}`}
                    />
                  </div>
                  <span class="flex  font-bold group-hover:scale-125 transition duration-200 justify-start align-middle">
                    <span
                      class="levelSkill"
                      data-level={`${skill.rating / 10}`}
                    />{" "}
                    /10{" "}
                  </span>
                </div>
                {/* <div class=" flex flex-1 items-end gap-2 ">
                  <div class="overflow-hidden bg-blue-50 rounded-full w-2/3 h-5">
                    <span
                      class="barLevelSkill h-full bg-blue-500 w-full block "
                      data-bar={`${skill.rating}`}
                    />
                  </div>
                </div> */}
              </div>
            );
          })
        }
      </div>
    </section>
    
    <section class="p-3" id="soft-skills">
      <h2 class="font-extrabold">{dictionary[defaultLanguage]?.soft}</h2>
      <div class="skills flex flex-col gap-2">
        {
          soft.map((skill, index) => {
            return (
              <div
                class={`group rounded-lg flex flex-col justify-between px-2 py-1 text-xs font-medium ring-1 ring-inset`}
              >
                <div class="flex flex-1 justify-between">
                  <h3
                    class={`group-hover:translate-x-3.5 group-hover:scale-125 transition duration-300`}
                  >
                    {skill[defaultLanguage]}
                  </h3>
                  <span class="inline-flex font-bold group-hover:scale-125 transition duration-200">
                    <span
                      class="levelSkill"
                      data-level={`${skill.rating / 10}`}
                    />{" "}
                    /10{" "}
                  </span>
                </div>
                <div class=" flex flex-1 items-end gap-2">
                  <div class="overflow-hidden bg-blue-50 h-1.5 rounded-full w-2/3">
                    <span
                      class="barLevelSkill h-full bg-orange-800 w-full block rounded-full"
                      style={`width: ${skill.rating}%`}
                      data-bar={`${skill.rating}`}
                    />
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </div> -->
  <!-- <div
    class="flex-1 relative flex flex-col font-interTight  dark:font-interTight  line-clamp-3 text-center mx-auto tracking-normal align-middle justify-center"
  >
  
    <span
      class=`text-responsive -rotate-12 opacity-10 font-extrabold text-8xl font-caveat text-black dark:text-cyan-300 absolute    items-center top-3`
      >{dictionary[defaultLanguage]?.skills}
      
    </span>
    <p class="leading-relaxed py-8 px-4 text-lg lg:text-3xl">
      ¿Cómo logro experiencias web impactantes?
    </p>
    <p class="text-lg font-extralight">Uniendo creatividad, rendimiento y una excelente experiencia de usuario.El éxito no es solo código, sino las personas y las ideas detrás de cada
      proyecto. Aquí muestro las habilidades que me ayudan a colaborar, innovar
      y superar desafíos cada día.</p>
  </div> -->
  <!-- <section class="flex-1 pl-[10%]">
    <BlockCodeImg/>
  </section> -->
</div>
