---

/* export const prerender = false */

import Welcome from "../../components/Welcome.astro";
import Layout from "../../layouts/Layout.astro";
import Education from "../../components/Education.astro";
import SectionTech from "../../components/SectionTech.astro";
import { projects } from "../../data/projects";

type Project = {
  [key: string]: {
    project: string;
    subtitle: string;
    description: string;
  };
} & {
  img: string;
  tech: string[];
};

import ProjectCard from "../../components/ProjectCard.astro";
import Technology from "../../components/Technology.astro";
import { dictionary } from "../../data/dictionary";
import Contact from "../../components/Contact.astro";

export async function getStaticPaths() {
  return [
    {
      params: { lang: "es" },
      props: { language: "es" },
    },
    {
      params: { lang: "en" },
      props: { language: "en" },
    },
  ];
}

const language: "en" | "es" = (Astro.props?.language === "en" || Astro.props?.language === "es") ? Astro.props.language : "en";
//const language = Astro.props?.language ?? "en";

/* ESCALA DE COLORES DESDE EL MAS OSCURO HASTA ELMAS clearTimeout
#101828
#1e2939
#334155
#262f3d (footer)
*/

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Ivan Rodriguez Rojas FrontEnd Developer"
  defaultLanguage={language}
>
  
  
  <div class="grid grid-cols-1 gap-3 left-0 w-full min-h-screen">
        
      <SectionTech defaultLanguage={language} />
    </div>
    <div class="flex items-center justify-center">
      <Technology defaultLanguage={language}/>
    </div>
    <div class="flex items-center justify-center">
      <a href=`/${language}/services` class="btn btn-primary">
        Services</a>
    </div>
    

    <div class="flex flex-col items-center gap-2 animatedScroll justify-center w-full mx-auto px-10">
      <!-- <h2 class="text-2xl font-bold">{dictionary[language].projects}</h2> -->
      <section class="section-projects  grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 animatedScroll  gap-7 ">
        {projects.map((item) => (
          <div class="flex-1 w-full item-project">
            <ProjectCard
            project={item[language]?.project || "Title not available"}
            img={item.img}
            description={item[language]?.description || "Description not available"}
            subtitle={item[language]?.subtitle || "Subtitle not available"} 
            tech={item.tech}
          />
          </div>
        ))}
      </section>
      
    </div>

    
    
    <div class="flex flex-col items-center justify-center">
      <Technology defaultLanguage={language} />
    </div>
    <div id="educationSection" class="flex items-center justify-center px-5">
      <Education defaultLanguage={language} />
    </div>
    <div class="flex flex-col items-center justify-center">
      <Contact/>
    </div>
  </div>
</Layout>