---
import Welcome from "../../components/Welcome.astro";
import Layout from "../../layouts/Layout.astro";
import Technology from "../../components/Technology.astro";
import Education from "../../components/Education.astro";
import Skills from "../../components/Skills.astro";
import SectionTech from "../../components/SectionTech.astro";
import { projects } from "../../data/projects";
import ProjectCard from "../../components/ProjectCard.astro";

import { dictionary } from "../../data/dictionary";
import Badge from "../../components/Badge.astro";

export async function getStaticPaths() {
  return [
    {
      params: { lang: "es" },
      props: { language: "es" },
    },
    {
      params: { lang: "en" },
      props: { language: "en" },
    },
  ];
}

const { language } = Astro.props;

/* ESCALA DE COLORES DESDE EL MAS OSCURO HASTA ELMAS clearTimeout
#101828
#1e2939
#334155
#262f3d (footer)
*/

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Ivan Rodriguez Rojas FrontEnd Developer"
  defaultLanguage={language}
>
  
  
  <div class="grid grid-cols-1 gap-3 left-0 w-full min-h-screen">
    <div class="flex items-center justify-center">
      <SectionTech defaultLanguage={language} />
    </div>
    
    <div class="flex items-center justify-center">
      <Technology defaultLanguage={language} />
    </div>

    <div class="flex flex-col items-center gap-2 animatedScroll justify-center">
      <h2 class="text-2xl font-bold">Projects</h2>
      <section class="section-projects grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 animatedScroll items-center gap-4 justify-center">
        {projects.map((item) => (
          <div class="flex-1 item-project">
            <ProjectCard
            project={item[language].project}
            img={item.img}
            description={item[language].description}
            tech={item.tech}
          />
          </div>
        ))}
      </section>
      
    </div>
    
    <div class="flex items-center justify-center">
      <Skills defaultLanguage={language} />
    </div>
    <div id="educationSection" class="flex items-center justify-center">
      <Education defaultLanguage={language} />
    </div>
  </div>
</Layout>
