---
import { ClientRouter } from "astro:transitions";
import Sidebar from "../components/Sidebar.astro";
import Welcome from "../components/Welcome.astro";
import Technology from "../components/Technology.astro";

import Footer from "../components/Footer.astro";
import SectionTech from "../components/SectionTech.astro";
import NavBar from "../components/NavBar.astro";
import { dictionary } from "../data/dictionary";
import Badge from "../components/Badge.astro";
import { effect } from "astro:schema";

/* import { onBeforeRender } from 'astro';

export const prerender = true;

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
  ];
}

export async function get({ params }) {
  const lang = params.lang || defaultLang;
  return {
    props: {
      language: lang,
    },
  };
} */

const { title, defaultLanguage } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Font Jost -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Rubik -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap"
      rel="stylesheet"
    />

    <!-- Font Inter -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Font Inter Tight -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <ClientRouter />
  </head>
  <body
    class="h-full grid grid-cols-1 text-black/70 dark:text-white bg-white font-inter box-content"
  >
    <div class="bg-white dark:bg-[#101828]">
      <NavBar defaultLanguage={defaultLanguage} />
      <SectionTech defaultLanguage={defaultLanguage} />
      <!-- <Wave /> -->
      <span class="hidden" id="lang" data-lang={defaultLanguage}></span>

      <!-- <div class=""><Sidebar defaultLanguage={language} /></div> -->

      <div
        class="grid grid-cols-1 left-0 w-full bg-gray-200 dark:bg-gradient-to-b dark:from-[#101828] dark:via-[#1e2939] dark:to-[#2c3849] min-h-screen"
      >
        <main class="px-4">
          <div class="pb-4 lg:pb-4"></div>
          <slot />
        </main>
        <Footer defaultLanguage={defaultLanguage} />
      </div>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --var-dark-bg: #0b3c67;
    --var-light-bg: #f3f4f6;
    --var-dark-text: #f3f4f6;
    --var-light-text: #111827;
    --var-progress-tech-skill-light: #94a3b8;
    --var-progress-tech-skill-dark: #164e63;
  }

  .animatedScroll {
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
  }
  @keyframes scroll {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .menuLink:hover > :not(:hover) {
    filter: blur(1px);
    opacity: 0.5;
  }
</style>
<script is:inline>
  
  
 
</script>
